@media (max-width:1080px) {

    header .logo {
        max-width: 60%;
        padding-right: 40px;
       
    }
    
     main .informacoes {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        
    }


    .informacoes .tela-de-ilustacao {
        display: flex;
        align-items: center;
        justify-content: center;
        
        margin: 0;
        padding: 0;
    }

    .informacoes .tela-de-ilustracao img {
        max-width: 100%;
        padding: 5px;

    }

    .informacoes .descricao h1 {
        display: flex;
        flex-direction: column;
        font-size: 30px;
    }

    .descricao p {
        /* display: flex; */
        font-size: 16px;
        line-height: 20px;
       
    }

    footer .redes {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 100vh;
        height: auto;

    }

   
}

@media(max-width:520px){
 
    body {
        background-image: url(/src/images/bg-mobile.svg);
    }

    header {
        max-width: 100%;
    }

    header .logo {
        width: 200px;   
        position: relative;
        right: 30px;  
    }

    .informacoes .descricao h1 {
        font-size: 28px;
        padding-top: 10px;
    }

    .informacoes .tela-de-ilustracao img {
        width: 100%;
        position: relative;
        right: 30px;
    }

    footer .redes {
        position: relative;
        bottom: 35px;
        min-width: 100%;
        height: auto;
    }

    .redes li a i {
        font-size: 20px;
        gap: 8px;

    }
}
