body {
    font-family: "Open Sans", sans-serif;
    background-image: url(../images/bg-desktop.svg);
    background-color: hsl(257, 40%, 49%);
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    max-width: 1440px;
    color: #fff;

}


header .logo {
    margin: 50px 0 0 95px;
    
}

main .informacoes {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 1440px;
    width: 100%;
}

.informacoes .tela-de-ilustracao  {
    margin:75px 0 0 85px;
    
}

.informacoes .descricao {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
    
}


.informacoes .descricao h1 {
    font-weight: 600;
    font-size: 40px;
}

.descricao p {
    font-weight: 300;
    margin-bottom: 15px;
}

 .descricao .btn {
    width: 150px;
    height: 50px;
    padding: 10px 30px;
    margin-bottom: 60px;
    border: none;
    border-radius: 25px;
    font-size: 15px;
    color: hsl(257, 40%, 49%);
    cursor: pointer;
}

 .descricao .btn:hover {
    color: #fff;
    background-color: hsl(300, 69%, 71%);
    transition: 0.3s ease-in-out;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3);
}

footer .redes {
    display: flex;
    justify-content: flex-end;
    padding: 30px;
    
}


footer .redes i {
    font-size: 20px;
    margin: 10px
}

.redes li:nth-child(1) i {
    padding: 12px 15px;
}

.redes li i {
    text-align: center;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 12px;
    color: #fff;
    transition: 0.3s ease-in-out;
}


.redes li i:hover {
    cursor: pointer;
    border-color: hsl(300, 69%, 71%);
    color: hsl(300, 69%, 71%);
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3);
}


